<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener Microservice</title>
  <link rel="shortcut icon" href="https://cdn.delivr.com/misc/image/content_modules/solutions/link-management-icon-180.png"/>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="title">
    <h1>URL Shortener Microservice</h1>
    <h3>Build a full stack JavaScript app that is functionally similar to this: <a target="_blank" href="https://url-shortener-microservice.freecodecamp.rocks/">FCC URL Shortener Microservice Model</a>.</h3>
  </div>
  <div class="container">
    <form action="api/shorturl" method="POST">
      <fieldset>
        <legend>URL Shortener</legend>
        <label for="url_input">URL:</label>
        <input id="url_input" type="text" name="url" placeholder="https://github.com/filipy94" />
        <input type="submit" value="POST URL" />
      </fieldset>
    </form>
    <h2>Example Output:</h2><hr>
    <p>
      <a href="api/shorturl/2">[your project url]/api/shorturl/2</a> 
      will redirect you to <i><u>https://www.google.com</u></i> because "2" is the short URL for this site.<br>
      You can check posting the original link on input boz above, the output will be: <br>
      <code>{"original_url":"https://www.google.com","short_url":2}</code>
    </p>
  </div>
  <footer>
    <p>
      Template from: <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>, 
      edited by <a href="https://github.com/filipy94">Filipy Dellagnolo</a>. 
      Project Repository <a href="https://github.com/filipy94/url-shortener-microservice">here</a>.
    </p>
  </footer>
</body>
</html>